.idea/vcs.xml
.idea/compiler.xml
.idea/copilot.data.migration.ask2agent.xml
.idea/encodings.xml
.idea/jarRepositories.xml
.idea/misc.xml
target/classes/es/masanz/ut7/Main.class
.idea/workspace.xml
target/classes/es/masanz/ut7/TimeServer.class
target/classes/guide.html
target/classes/templates/clima.ftl
target/classes/templates/clima_new.ftl
